

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/src/assets/logo.svg" alt="" width="72" height="72">
        <h2>Loja Virtual</h2>
        <p class="lead"> </p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Seu carrinho</span>
            <span class="badge badge-secondary badge-pill">{{cont}}</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Item</h6>
              </div>
              <span class="text-muted">Valor</span>
            </li>
            <ng-container *ngFor="let item of (produtos)" >
              <li *ngIf="item.carrinho == true" class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{item.nome}}</h6>
                  <small class="text-muted">
                    <button class="btn" (click)="remover(produtos.indexOf(item))" >-</button>
                    {{item.qt}}
                    <button class="btn" (click)="adicionar(produtos.indexOf(item))">+</button></small>
                </div>
                <span class="text-muted">{{item.valor * item.qt}}</span>
            </li>
          </ng-container>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (BRL)</span>
              <strong>{{total}}</strong>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Produtos disponiveis</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Adicionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of produtos" >
                <td>{{item.nome}}</td>
                <td>R$: {{item.valor}}</td>
                <td><button class="btn " (click)="adicionar(produtos.indexOf(item))" >Comprar</button></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">2020/01 Linguagem de programação para web</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Professor: Jackson Gomes</a></li>
          <li class="list-item"><a href="#">Aluno: Cleiton luiz</a></li>
        </ul>
      </footer>
    </div>
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  <router-outlet></router-outlet>
